@import"https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Orbitron:wght@400;700;900&family=Share+Tech+Mono&display=block";

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
        transform: translate(-2px, 1px)
    }

    20% {
        clip-path: inset(60% 0 10% 0);
        transform: translate(2px, -1px)
    }

    40% {
        clip-path: inset(40% 0 50% 0);
        transform: translate(-2px, 2px)
    }

    60% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(1px, -2px)
    }

    80% {
        clip-path: inset(10% 0 70% 0);
        transform: translate(-1px, 1px)
    }

    to {
        clip-path: inset(30% 0 50% 0);
        transform: translate(2px, -1px)
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
        transform: translate(2px, -1px)
    }

    20% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(-2px, 2px)
    }

    40% {
        clip-path: inset(30% 0 20% 0);
        transform: translate(1px, -2px)
    }

    60% {
        clip-path: inset(10% 0 80% 0);
        transform: translate(-1px, 1px)
    }

    80% {
        clip-path: inset(50% 0 30% 0);
        transform: translate(2px, -1px)
    }

    to {
        clip-path: inset(20% 0 70% 0);
        transform: translate(-2px, 1px)
    }
}

.cyber-glitch {
    position: relative
}

.cyber-glitch:before,
.cyber-glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background)
}

.cyber-glitch:before {
    left: 2px;
    text-shadow: -1px 0 #D0120F;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-1 2s infinite linear alternate-reverse
}

.cyber-glitch:after {
    left: -2px;
    text-shadow: -1px 0 #50fa7b;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse
}

.cyber-scanlines {
    background: linear-gradient(to bottom, #fff0, #fff0 50%, #0003 50%, #0003);
    background-size: 100% 4px;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .15
}

.cyber-chamfer {
    clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px)
}

.cyber-chamfer-sm {
    clip-path: polygon(5px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px)
}

@keyframes blink {

    0%,
    to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.cyber-cursor:after {
    content: "_";
    animation: blink 1s step-end infinite;
    color: var(--accent);
    margin-left: 2px
}