@font-face {
    font-family: "Sans";
    src: url("../../font/Sans.ttf");
}
*{
    padding: 0;
    margin: 0;
    font-family: "Sans";
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: darkblue; */
    overflow-y: auto;
    background: rgb(248, 248, 248);
}
.head{
    height: 5.625rem;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 21.125rem;
    box-sizing: border-box;
    color: black;
}
.head>a{
    color: black;
    text-decoration: none;
    margin-left: 2rem;
}
.head-logo{
    width: 8.625rem;
    height: 3.125rem;
}
.body{
    width: 75rem;
    margin: auto;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* background: darkcyan; */
    height: 55.625rem;
    
}
.body-img{
    width: 100%;
}
.body-con{
    margin-top: 2rem;
    height: 37.5rem;
    width: 100%;
    /* background: forestgreen; */
    display: flex;
    justify-content: space-between;
}
.body-con-1{
    width: 10rem;
    /* background: fuchsia; */
}
.body-con-2{
    width: 63rem;
    background: #fff;
    padding: 2rem;
    box-sizing: border-box;
}
.body-con-img{
    margin-bottom: 1rem;
    width: 100%;
}
.con1{
    word-wrap: break-word;
    word-break: break-all;
}
.con2-img{
    width: 100%;
    margin-bottom: 2rem;
}
.con2-l{
    position: relative;
}
.con2-l-str{
    width: 38.4375rem;
    margin-top: 2rem;
}
.con2-l-zi{
    width: 17.875rem;
    height: 15.6875rem;
    position: absolute;
    right: 0;
    bottom: -5rem;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2rem;
}
.con2-l-f{
    width: 14.375rem;
   
}
.con2-auto{
    margin-bottom: 1rem;
}
.fenge{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.bottom{
    height: 18.75rem;
    width: 100%;
    background:rgb(0, 0, 0) ;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;
    line-height: 1.8rem;
}
.bottom a{
    text-decoration: none;
    color: #fff;
}
.bottom-1{
    width: 35rem;
    height: 11.875rem;
    transform: translateY(-1rem);
}
.bottom-1-x{
    display: flex;
    justify-content: space-between;
    width: 19.25rem;
}
.mobile{
    display: none;
}