.mapMobile{
    position: relative;
    overflow: hidden;
    color: #e23b78;
    font-size: 12px;
    /* background: firebrick; */
}
.mapMobile-bg{
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.map-1{
    position: absolute;
    z-index: 2;
    top:10%;
    left: 7%;
    height: 80%;
  }
  .mapMobile-G{
    position: absolute;
    z-index: 2;
    bottom: 29%;
    right: 17%;
    min-height: 15px;
  }
  .mapMobile-X{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 35%;
  }
  .mapMobile-C{
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 18%;
  }
  .mapMobile-S{
    position: absolute;
    z-index: 2;
    top: 11%;
    left: 31%;
  }
  .mapMobile-Y{
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 26%;
  }
  .mapMobile-B{
    position: absolute;
    z-index: 2;
    bottom: 22%;
    right: 19%;
  }
  .mapMobile-title{
    height: 60px;
    width: auto;
    display: flex;
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 31%;
/*     max-width: 30px; */
  }




.mapMobile-1{
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 74vw;
    width: 17vw;
}
.mapMobile-2{
    
}
.mobile-allDown{
    position: absolute;
    z-index: 2;
    bottom: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mobile-allDown img{
    width: 60vw;
}
.m-kv{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.m-slogan{
    position: absolute;
    width: 72vw;
    bottom: 13%;
    left: 9vw;
}