::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  scrollbar-width: thin;
  /**/
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

::-webkit-scrollbar-corner {
  background: #179a16;
}

* {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

html,
body {
  background: #000;
  height: 100%;
  margin: 0 auto;
  font-family: "song";
}

.hide {
  display: none;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow-y: auto;
}

.sl-part {
  position: relative;
}

.part-content {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-top: 1rem; */
}

.page-bg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.part1 {
  /* background: url(../img/1.png) top/100% no-repeat; */
  width: 100%;
  height: 63.5rem;
}

.part1 .sl-logo {
  /* background: url(../img/first/logo.png) top/100% no-repeat; */
  position: absolute;
  width: 20.6875rem;
  height: 7.875rem;
  top: 1rem;
  left: 7rem;
  display: flex;
  align-items: baseline;
}

.sl-slogan {
  position: absolute;
  left: 50%;
  top: 26rem;
  transform: translateX(-50%);
  background: url(../img/first/%c3%a4%c2%b8%c2%bb%c3%a6%c2%a0%c2%87%c3%a9%c2%a2%c2%98.html)top/100% no-repeat;
  width: 62rem;
  height: 26.6875rem;
}

.sl-slogan-min {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/first/%c3%a5%c2%89%c2%af%c3%a6%c2%a0%c2%87%c3%a9%c2%a2%c2%98.html)top/100% no-repeat;
  width: 42.375rem;
  height: 5.6875rem;
  top: 45rem;
}

.part1 .btn-home {
  background: url(../img/first/go.png) top/100% no-repeat;
  width: 16.1875rem;
  height: 8rem;
  position: absolute;
  top: 0;
  right: 10rem;
}

.part1 .slogan {
  width: 72.125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
}

.part1 .download-box {
  width: 43.125rem;
  height: 16.375rem;
  position: absolute;
  margin: 0rem auto 0;
  display: flex;
  bottom: 0rem;
  justify-content: space-around;
  align-items: center;
  left: 52%;
  transform: translateX(-50%);
}

l {
  cursor: pointer;
}

.part1 .download-box .box1 {
  width: 9.25rem;
  height: 7.375rem;
  position: relative;
}

.part1 .download-box .box1>img {
  position: absolute;
}

.part1 .download-box .box2 {
  width: 8.6875rem;
}

.part1 .download-box .box2 img {
  /* margin-bottom: 0.3125rem; */
}

.part1 .download-box .box3 {
  width: 8.5rem;
}

.part1 .download-box .box3 img {
  /* margin-bottom: 0.3125rem; */
}

.part1 .download-box .box4 {
  width: 12.125rem;
  margin-top: 0rem;
  position: relative;
  left: -1.5rem;
}

.part1-tishi {
  position: absolute;
  color: #ffff;
  left: 13rem;
  bottom: 5rem;
  font-size: 0.9rem;
}

.part1-tishi a {
  color: #fff;
}

.firstPv {
  width: 12.125rem;
  cursor: pointer;
  /* height: 5.8125rem; */
  /* position: absolute; */

}

.partxin .title {
  text-indent: -9999px;
  background: url("../img/xin/t.png") top/100% no-repeat;
  width: 22.875rem;
  height: 12.1875rem;
  margin: 4rem auto 1rem;
}

.partxin .part-content {
  height: 50rem;
  margin: 1rem 0 3rem;
  transform-origin: center center;
}

.partwan .title {
  text-indent: -9999px;
  background: url("../img/wan/%c3%a5%c2%85%c2%a8%c3%a6%c2%96%c2%b0%c3%a7%c2%8e%c2%a9%c3%a6%c2%b3%c2%95.html") top/100% no-repeat;
  width: 23rem;
  height: 8.6875rem;
  margin: 0 auto 6rem;
}

.partwan-bg {
  position: absolute;
  left: 24rem;
  top: -20rem;
  background: url(../img/wan/%c3%a5%c2%9e%c2%ab.html)top/100% no-repeat;
  width: 89.5rem;
  height: 59.5625rem;
}

.partwan .part-content {
  height: 34rem;
  margin: 1rem 0 12rem;
  transform-origin: center center;
  position: relative;
}

.partwan-left {
  width: 14.25rem;
  height: 24.75rem;
  position: absolute;
  left: 10rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
}

.partwan-right {
  width: 72.6875rem;
  height: 38.5rem;
  position: absolute;
  left: 54%;
  bottom: 0;
  transform: translateX(-50%);
}

.partwan-right img {
  width: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

.partwan-right video {
  position: absolute;
  width: 66.8125rem;
  top: 1.3rem;
  left: 1.1rem;
  /* transform: translateX(-43%); */
}

.partxin-img {
  width: 93.5625rem;
}

.part2 .title {
  text-indent: -9999px;
  background: url("../img/second/t3.png") top/100% no-repeat;
  width: 23.3125rem;
  height: 8.625rem;
  margin: 0 0 0 10%;  /* 左边距10% */
  transform: translateX(-15%);  /* 向左微调 */
}

.part2 .part-content {
  height: 66rem;
  /* margin: 1rem 0 3rem; */
  transform-origin: center center;
}

.part2 .switch-tips {
  position: absolute;
  font-size: 0.9375rem;
  color: rgb(216 206 188);
  top: 13.2rem;
  right: 35.3rem;
}

.part2 .wrap-rookie {
  width: 100%;
  height: 100%;
  background: url(../img/second/1-1.png) no-repeat;
  background-size: contain;
  background-position: 38% 0rem;
}

.part2 .wrap-switch {
  position: absolute;
  right: 24rem;
  top: 9.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part2 .wrap-switch .switch {
  width: 8.5rem;
  height: 4.4375rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.part2 .wrap-switch .switch1 {
  background: url(../img/second/d1.png) center no-repeat;
  background-size: cover;
}

.part2 .wrap-switch .switch1.curr {
  background: url(../img/second/d1c.png) center no-repeat;
  background-size: cover;
}

.part2 .wrap-switch .switch2 {
  background: url(../img/second/d2.png) center no-repeat;
  background-size: cover;
  left: -2rem;
  position: relative;
}

.part2 .wrap-switch .switch2.curr {
  background: url(../img/second/d2c.png) center no-repeat;
  background-size: cover;
}

.part2 .wrap-media {
  position: absolute;
  right: 14.5rem;
  top: 36rem;
  display: flex;
}

.part2 .wrap-media .media-audio,
.part2 .wrap-media .media-video {
  cursor: pointer;
}

.part2 .wrap-media .media-audio1 {
  background: url(../img/second/y.png) top/100% no-repeat;
  width: 8.0625rem;
  /* margin-right: 1.875rem; */
}

.part2 .wrap-media .media-audio1.curr {
  background: url(../img/second/y.gif) top/100% no-repeat;
}

.part2 .wrap-media .media-audio2 {
  background: url(../img/second/z.png) top/100% no-repeat;
  width: 8.0625rem;
  height: 4.4375rem;
  position: relative;
  left: -1.5rem;
}

.part2 .wrap-media .media-audio2.curr {
  background: url(../img/second/z.gif) top/100% no-repeat;
}

.part2 .media-video1 {
  background: url(../img/second/rookie1-video-btn.png) top/100% no-repeat;
  width: 10.875rem;
  height: 10.875rem;
  position: relative;
  top: -22.5rem;
  right: -2rem;
  z-index: 1;
  /* margin-left: 2.5rem; */
}

.part2 .media-video2 {
  background: url(../img/second/rookie2-video-btn.png) top/100% no-repeat;
  width: 10.875rem;
  height: 10.875rem;
  position: relative;
  top: -21.5rem;
  right: -5rem;
  z-index: 1;
}

.part2 .media-video3 {
  width: 11.4375rem;
  height: 6.5rem;
  /* margin-left: 2.5rem; */
  visibility: hidden;
}

.part2 .media-video4 {
  width: 9.625rem;
  height: 7.8125rem;
  margin-left: 2.5rem;
}

.part2 .wrap-state {
  position: absolute;
  top: 15rem;
  right: 1.5rem;
  width: 40.3125rem;
  pointer-events: none;
}

.part2 .wrap-tab {
  position: absolute;
  left: 18rem;
  width: 11.6875rem;
  top: 7.5rem;
}

.part2 .wrap-tab .tab {
  height: 11rem;
  width: 9.8125rem;
  margin-bottom: 2rem;

  cursor: pointer;
}

.part2 .wrap-tab .tab img {
  display: none;
  pointer-events: none;
}

.part2 .wrap-tab .tab.curr {
  /* background-image: none; */
}

.part2 .wrap-tab .tab.curr img {
  display: block;
}

.part2 .wrap-tab .tab1 {
  background: url(../img/second/h1.png) top/100% no-repeat;

}

.part2 .wrap-tab .tab2 {
  background: url(../img/second/h2.png) top/100% no-repeat;
}

.part2 .wrap-tab .tab3 {
  background: url(../img/second/h3.png) top/100% no-repeat;
}

.part2 .wrap-tab .tab4 {
  background: url(../img/second/h4.png) top/100% no-repeat;
}

.part3 .title {
  text-indent: -9999px;
  background: url("../img/third/5t.png") top/100% no-repeat;
  width: 31.5rem;
  height: 8.875rem;
  margin: 0rem auto 0rem;
  left: -5rem;
  position: relative;
}

.part3 .part-content {
  position: relative;
}

.part-content-bg {
  position: absolute;
  width: 120rem;
  height: 64.5625rem;
  top: -16.5rem;
  right: 0;
}

.part3 ul {
  height: 37rem;
  width: 96.0625rem;
  padding: 0;
  position: relative;
  /* 水平居中 */

  /* 垂直居中 */
  list-style: none;
  margin: 3rem auto 0;
  position: relative;
  left: -3.5rem;
}

/* 移入到轮播图区域把鼠标形状变成‘手’ */
.part3 ul:hover {
  cursor: pointer;
}

.part3 li {
  position: absolute;
  left: 0;
  /* 过渡属性，让轮播图切换更自然 */
  transition: 0.4s;
}

.part3 .page {
  height: 3.625rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.part3 .page .page-img {
  height: 100%;
  margin: 0 0.1875rem;
  width: auto;
}

.part4 .title {
  text-indent: -9999px;
  background: url("../img/fourth/6t.png") top/100% no-repeat;
  width: 22.8125rem;
  height: 8.8125rem;
  margin: 4rem auto 0;
}

.part4 .link-box {
  height: 10.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 10rem;
}

.part4 .link-box a {
  height: 100%;
}

.part4 .link-box img {
  height: 100%;
}

.part5 {
  margin-top: 8rem;
}

.banner-bg {
  background: url(../img/third/%c3%a5%c2%9e%c2%ab.html)top/100% no-repeat;
  width: 68.75rem;
  height: 60.3125rem;
  position: absolute;
  left: 31rem;
  top: -17rem;
}

.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.pop-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.pop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: auto;
}

.pop-tips-content img {
  display: block;
  width: auto;
  height: 80%;
}

.pop-video video {
  width: 1000px;
  margin: 0 auto;
}