:root {
  --animate-duration: 800ms;
  --animate-delay: 0;
}
@font-face {
  font-family: "SourceHanSerifCN";
  src: url(../font/Serif.ttf);
}
@font-face {
  font-family: "cn";
  src: url(../font/Sans.ttf);
}
/* @font-face {
  font-family: "myFont";
  src: url(../font/myFont.html);
} */
@font-face {
  font-family: "myFont";
  src: url("../font/DreamHanSansJP-W10.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'myFont';
}

body {
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  /* font-family: "myFont"; */
  color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* cursor: none; */
  background: #000;
}

.swiperBG {
  width: 100%;
  height: 100%;
  background: url("../img/bg.jpg") no-repeat bottom;
  background-size: cover;
  position: absolute;
  z-index: 10;
}
.swiperBG2 {
  width: 100%;
  height: 100%;
  background: url("../img/BG2.png") no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: 100;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* overflow: hidden; */
}

.mobile {
  display: none;
  width: 0;
}
.head {
  position: absolute;
  /* background: yellowgreen; */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /* background: url("../img/first/top.png") no-repeat center; */

  background-size: 100% 100%;
  width: 100%;
  height: 6.25rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.head-two {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.h-con-left {
  width: 20vw;
  padding-top: 2vh;
  box-sizing: border-box;
  /* display: flex;
        align-items: center;
        justify-content: center; */
  padding-left: 5vw;
}
h1 {
  padding: 0;
  margin: 0;
  height: 8vh;
  display: flex;
  align-items: center;
}
.h-con-right {
/*   width: 80vw; */
  width: 100vw;
  height: 8vh;
  display: flex;

  justify-content: space-between;
}
.h-con-right-l {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h-con-right-r {
  width: 15%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-con-right-r-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-center {
  text-align: center;
  width: 100%;
}
.div-center:hover div {
  color: #e23b78;
  transition: all 0.3s ease;
}
.div-head-text {
  font-size: 1.125rem;
  font-family: myFont;
  font-weight: 400;
  color: #9ea7b4;
  line-height: 2vh;
  width: 100%;
}
.div-head-text-en {
  font-size: 0.75rem;
  font-weight: 300;
  color: #9ea7b4;
  transform: scale(0.8);
  letter-spacing: .1rem;
  line-height: 1.5;
  font-family: 'myFont';
}
.div-head-text-active {
  /* font-size: 1.375rem; */
  font-weight: 600;
  color: #e23b78;
}
.div-head-text-en-active {
  color: #e23b78;
  text-align: center;
  width: 100%;
}
.share-content {
  background: rgba(19, 24, 24, 1);
  top: 6vh;
  right: 11vw;
  position: absolute;
  z-index: 100;
  width: 4.625rem;
  height: 14.6875rem;
  border-bottom: 1px solid #e23b78;
  padding: 5px;
  display: none;
}
.share-content-item {
  display: flex;
  justify-content: space-around;
  height: 20%;
}
.share-content img {
  width: 1.875rem;

  object-fit: contain;
}
.share-content-twitter{
  width: 40%;
  background: url("../img/icon/twitter.png") no-repeat center;
}
.share-content-twitter:hover {
  width: 40%;
  background: url("../img/icon/twitterc.png") no-repeat center;
}
.share-content-w {
  width: 40%;
  background: url("../img/icon/w.png") no-repeat center;
}
.share-content-w:hover {
  width: 40%;
  background: url("../img/icon/wc.png") no-repeat center;
}
.share-content-c {
  width: 40%;
  background: url("../img/icon/c.png") no-repeat center;
}
/* .share-content-c:hover .wxInfo{
         display: block;
      } */
.share-content-c:hover {
  width: 40%;
  background: url("../img/icon/cc.png") no-repeat center;
}
.share-content-youtube {
  width: 40%;
  background: url("../img/icon/youtube.png") no-repeat center;
}
.share-content-youtube:hover {
  width: 40%;
  background: url("../img/icon/youtubec.png") no-repeat center;
}
.share-content-q {
  width: 40%;
  background: url("../img/icon/q.png") no-repeat center;
}
.share-content-q:hover {
  width: 40%;
  background: url("../img/icon/qc.png") no-repeat center;
}
.share-content-tiktok {
  width: 40%;
  background: url("../img/icon/tiktok.png") no-repeat center;
}
.share-content-tiktok:hover {
  width: 40%;
  background: url("../img/icon/tiktokc.png") no-repeat center;
}
.share-content-discord {
  width: 40%;
  background: url("../img/icon/discord.png") no-repeat center;
}
.share-content-discord:hover {
  width: 40%;
  background: url("../img/icon/discordc.png") no-repeat center;
}
.share-content-r {
  width: 40%;
  background: url("../img/icon/r.png") no-repeat center;
}
.share-content-r:hover {
  width: 40%;
  background: url("../img/icon/rc.png") no-repeat center;
}
.share-content-l {
  width: 40%;
  background: url("../img/icon/l.png") no-repeat center;
}
.share-content-l:hover {
  width: 40%;
  background: url("../img/icon/lc.png") no-repeat center;
}
.share-content-line {
  width: 40%;
  background: url("../img/icon/line.png") no-repeat center;
}
.share-content-line:hover {
  width: 40%;
  background: url("../img/icon/linec.png") no-repeat center;
}
.mask {
  position: fixed;
  background: rgba(19, 24, 24, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  z-index: 5;
  display: flex;
  justify-content: space-around;
}

#imgShare:hover,
.imgMusicPlay:hover,
.imgMusicStop:hover {
  animation-name: bigIcon;
  animation-duration: 0.8s;
}
#imgShare,
.imgMusicPlay,
.imgMusicStop {
  width: 1.875rem;
}

.messageInfo {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  top: 20vh;
  right: 18vw;
  width: 5vw;
  border-radius: 45px;
  text-align: center;
  color: #9ea7b4;
  display: none;
}
.wxInfo {
  position: fixed;
  z-index: 1000;
  top: 7vh;
  right: 15vw;
  text-align: center;
  color: #e23b78;
  display: none;
}
.ageword {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.ageword > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.qqPage {
  position: fixed;
  z-index: 20;
  top: 4vh;
  right: 15vw;
  background: url("../img/icon/QQ.png") no-repeat center;
  background-size: 100%;
  width: 18.5625rem;
  height: 10.75rem;
  color: #e23b78;
  padding: 3rem 1rem;
  box-sizing: border-box;
  display: none;
}
.qqPage-list {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9ea7b4;
  font-size: 1rem;
  vertical-align: middle;
}
.qqPage-list-1 {
  width: 80%;
}
.qqPage-list-2 {
  width: 20%;
  text-align: center;
  color: #e23b78;
  border-radius: 11px;
  border: 1px solid #e23b78;
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.shareFadeIn {
  animation-name: fadeInTop;
  animation-duration: 0.8s;
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.musicFadeInBottom {
  animation-name: fadeInBottom;
  animation-duration: 0.8s;
}
@keyframes selfFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.musicFadeInLeft {
  animation-name: selfFadeInLeft;
  animation-duration: 0.8s;
}
/*
        head zindex 10
        footer zindex 5
        鼠标 100
      */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ff005d;
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.shareMusic {
  width: 1.875rem;
  height: 1.875rem;
}

#loading {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  transition: all 0.3s;
}

.loadingvideo{

} 

.loadingImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadingProgress {
  color: #E23A78;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  width: 4.875rem;
  height: 4.9735rem;
  z-index: 100;
  background: url("../img/loading/load.gif") no-repeat center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grayAll {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(90%);
}
#kvPc {
  object-fit: cover;
}
.head-logo {
  width: 13.375rem;
}
.holder-img {
  background: #000;
}
.holder-imgS {
  background: #000;
}
.pvVideo{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 103;
}
.pvVideo iframe{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.title-scroll {
  height: 14em;
  opacity: 1;
  margin-right: 5%;
  margin-bottom: 0.65%;
  position: fixed; /* 確保固定定位 */
  bottom: 0;
  right: 0;
  z-index: 1000; /* 高層次顯示 */
}

.title-scroll:after,
.title-scroll:before {
  content: '';
  width: 0.1em;
  display: block;
  position: absolute;
  left: 0.45em;
  background-color: #fff;
}

.title-scroll:before {
  top: 0;
  animation: scroll-bar ease-in-out 3s infinite;
}

.title-scroll:after {
  bottom: 0;
  animation: scroll-bar ease-in-out 3s reverse infinite;
}

.title-scroll-mouse {
  position: absolute;
  width: 1em;
  height: 2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAYAAAALiLqjAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+nhxg7wAAAVJJREFUWIXtl7FuwlAMRa0qC+qajSUSI0tHvqESnQjfxQZjpEj9hI7MHbu06gB/QZeCdBiwVTdqyAvKq1qUuwB+9j0GK8hPpNefFZAAD0ABvAN7Ttrr50LPk0vMc2BDmDZAHmo8AEpXvNNO58AYyPR1rvGdyy2BQZP52hUsgbShoVTzTOtaiOv8E5gFfeWv2pnWAZQ/JeSui1bmFYgp9weJG+jqEnPntXKDTyw4dQOt/c2BIXAHDM/kpG7wUwsWGigaulto3qIh75vfjYhM9OzpXGELmc/EACMNvHYEMJ+RAexR/+gIYD6JAaLq/wPa/NU+isiLiLy1IrjHO2tVWO+XmaHINcygB/SAHvBLgIO+v+3I03wOBthqYNwRwHy2BnjWwH1HAPM5+YbuRSGq24vibnZ6EG83dQnxtmtNins/cJA4N5wKKM4drQKJd8vsdV06AtJyuepiZKMbAAAAAElFTkSuQmCC)
      no-repeat;
  background-size: 100% 100%;
  left: 0;
  top: 0;
  animation: scroll-mouse ease-in-out 3s infinite;
}

.title-scroll-mouse:before {
  color: #fff;
  content: 'scroll';
  position: absolute;
  transform-origin: left top;
  font-size: 75%;
  text-transform: uppercase;
  transform: translateY(-25%) rotateZ(90deg);
}

@keyframes scroll-mouse {
  from {
      top: 0;
      opacity: 0.5;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  to {
      opacity: 0.5;
      top: 12em;
  }
}

@keyframes scroll-bar {
  from {
      height: 0;
      opacity: 0.25;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  to {
      opacity: 0.25;
      height: 12em;
  }
}

/* 隱藏在小屏幕上 */
@media (max-width: 960px) {
  .title-scroll {
      display: none;
  }
}